.homeBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: #e6e6e6;
}

.homeBloc p {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.menu-collecte,
.menu-enseignes,
.menu-espace,
.menu-defi,
.goodhabits,
.a-propos {
  padding: 5px;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #46dc7b;
  border-radius: 10px;
  color: black;
  width: 55vw;
  height: 40px;
  box-shadow:  0 0 10px grey;
  display: flex;
  justify-content: space-between;
  animation-name: fade;
  animation-duration: 2s;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profil,
.recycle-bin,
.stores,
.habits {
  width: 35px;
  height: 35px;
  filter: invert(100%);
}