.homePage {
  height: 99vh;
  overflow: scroll;
}

.homeBloc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: #e6e6e6;
}

.homeBloc p {
  font-size: 15px;
  width: 150px;
  font-family: 'Quicksand', sans-serif;
}

.menu-collecte,
.menu-enseignes,
.menu-espace,
.menu-defi,
.goodhabits,
.a-propos {
  padding: 5px;
  margin: 15px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #46dc7b;
  border-radius: 50%;
  color: black;
  width: 18vw;
  height: 140px;
  box-shadow: 0 0 10px grey;
  display: flex;
  flex-direction: column;
  animation-name: fade;
  text-align: center;
  animation-duration: 2s;
  align-items: center;
  justify-content: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profil,
.recycle-bin,
.stores,
.habits {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}
