.ProfileCreation {
  height: 100vh;
  background-color: #e6e6e6;
}

.Naotri {
  background-color: #46dc7b;
  color: rgb(102, 95, 95);
  margin: 0px;
  height: 70px;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.avatar {
  border-radius: 50%;
  width: 90px;
  border: solid rgb(160, 154, 154);
}

.picture img{
  margin: 10px;
  width: 80px;
}

.picture p {
  margin-top: 15px;
  font-size: 19px;
  margin-left: 5%;
}

.infos {
  display: flex;
  flex-direction: column;
}

.pseudoContainer,
.birthdayContainer,
.emailContainer {
  height: 120px;
}

.pseudo,
.birthday {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 80px;
}

.pseudo input {
  height: 45px;
  text-align: center;
  width: 90%;
  margin: auto;
  display: flex;
  font-size: 18px;
  border-radius: 10px;
  color: rgb(139, 122, 122);
  outline: none;
  border: solid rgb(139, 122, 122);
  background-color: white;
}

.birthday p {
  font-size: 19px;
  margin: 10px 5%;
}

.birthday input {
  height: 45px;
  text-align: center;
  width: 90%;
  margin: auto;
  display: flex;
  font-size: 18px;
  color: rgb(139, 122, 122);
  text-align: center;
  border-radius: 10px;
  padding: 1px;
  outline: none;
  border: solid rgb(139, 122, 122);
  background-color: white;
}

.email {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 80px;
}

.email p,
.pseudo p {
  font-size: 19px;
  margin: 10px 5%;
}

.email input {
  height: 45px;
  text-align: center;
  width: 90%;
  font-size: 18px;
  margin: auto;
  display: flex;
  border-radius: 10px;
  color: rgb(163, 145, 145);
  outline: none;
  border: solid rgb(139, 122, 122);
  background-color: white;
}



.submit {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.submit button{
  margin-top: 5px;
  margin-bottom: 30px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #46dc7b;
  font-size: 16px;
  font-weight: 500;
}
