.rules-container {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.rules-container img {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.punder {
  background-color: #46dc7b;
}