body {
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
}

.Slider {
  height: 150px;
  background-color: #46dc7b;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 20%;
}

.buttons {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 30px;
}

.quiz-btn {
  width: 80px;
  height: 40px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #46dc7b;
  border: none;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #46dc7b;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #46dc7b;
}

h1 {
  font-family: 'Lucida Grande bold';
  font-size: 60px;
}

p {
  font-size: 'Lucida Grande';
  font-size: 20px;
}

div {
  font-size: 20px;
}

.image {
  padding-top: 50px;
  padding-bottom: 10px;
  height: 350px;
  width: 350px;
}
