.top {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}

.avatarProfil {
  width: 15vh;
  height: 15vh;
  border: solid 4px grey;
  border-radius: 50%;
  background-color: white;
}

.points {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.coins {
  width: 5vh;
  height: 5vh;
  margin-right: 10px;
}

.sp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.xp {
  width: 60vw;
  text-align: center;
}

.sp > p,
.xp > p {
  margin: 1vh;
}

.badges {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 1px rgb(165, 163, 163);
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  padding: 2vh;
  margin: 1vh;
  box-shadow: 1px 1px 2px grey inset;
}

.level,
.historyTitle {
  margin: 0;
  text-align: center;
}

.badge {
  width: 20%;
  padding: 1vh;
}

.history {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 16vh;
  overflow: scroll;
  border: solid 1px rgb(165, 163, 163);
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px grey inset;
}
