.mapContainer {
  height: 600px;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #e4dfdf;
}

*{
  font-family: 'Quicksand', sans-serif;
}